<section class="section">
  <div class="container">
    <h1 class="title is-2"><%= heading %></h1>
    <%= form_with model: benefit, local: true do |form| %>
      <div class="field">
        <%= form.label :name %>
        <div class="control">
          <%= form.text_field :name, class: 'input' %>
        </div>
      </div>
      <div class="field">
        <%= form.label :category %>
        <div class="control">
          <div class="select is-primary">
            <%= form.select :category do %>
              <% @benefit_categories.each do |category| %>
                <%= content_tag(:option, category.titleize, value: category) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= form.submit 'Submit', class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
