{
  let productDetailsRow = document.getElementById('selected-product-details')
  let el = productDetailsRow.insertCell()
  el.setAttribute("data-params", JSON.stringify(<%= @comparison_products.to_json.html_safe %>))
  el.setAttribute("data-target", "comparison-table-export.param")
}

document.getElementById('delete-column')
  .insertCell()
  .innerHTML = '<button class="button is-danger" data-action="click->comparison-table#deleteColumn"><span><i class="fas fa-times"></i></span></button>'

document.getElementById('insurer')
  .insertCell()
  .textContent = "<%= @insurer.name %>"

document.getElementById('product')
  .insertCell()
  .textContent = "<%= @product.name %>"

document.getElementById('chosen-cover')
  .insertCell()
  .textContent = "<%= selected_modules(@product_modules) %>"

document.getElementById('overall-sum-assured')
  .insertCell()
  .textContent = "<%= overall_sum_assured(@product_modules) %>"

<% @benefits.each do |benefit| %>
  {
    let el = document.getElementById(<%= benefit.id %>)
    let cell = el
                .insertCell()
    cell.innerHTML = "<%= match_module_to_benefit(@decorated_product_module_benefits, benefit.id).icon.html_safe %>"
    let icon = cell.firstChild
    icon.classList.add("has-tooltip-top")
    icon.classList.add("has-tooltip-multiline")
    icon.setAttribute("data-tooltip", "<%= match_module_to_benefit(@decorated_product_module_benefits, benefit.id).benefit_limit %>")
  }
<% end %>    
