<section class="section">
  <div class="container">
    <h1 class="title is-1">Insurers</h1>
    <div class="field">
      <%= link_to "Add New Insurer", new_insurer_path, class: 'button is-link' %>
    </div>
    <div data-controller="filter">
      <%= form_with url: insurers_path, method: :get, local: true do |form| %>
        <div class="field has-addons">
          <div class="control">
            <%= form.text_field :search, placeholder: 'Filter insurers...', data: {target: 'filter.source', action: 'input->filter#filter'}, class: 'input filter' %>
          </div>
          <div class="control">
            <%= form.submit 'Search', class: 'button is-primary' %>
          </div>
        </div>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody id="insurer-list">
          <% @insurers.sort.each do |insurer| %>
            <tr data-target="filter.filterable" data-filter-key='<%= "#{insurer.name}".downcase %>'>
              <td><%= insurer.name.titleize %></td>
              <td>
                <%= link_to edit_insurer_path(insurer), id: "edit-#{insurer.name}" do %>
                  <span class="icon"><i class="fas fa-edit alt"></i></span>
                <% end %>
              </td>
              <td>
                <%= link_to insurer_path(insurer), method: :delete, id: "delete-#{insurer.name}", data: {confirm: 'Are you sure you want to delete this insurer?'} do %>
                  <span class="icon"><i class="fas fa-trash-alt"></i></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
