<section class="section">
  <div class="container">
    <h1 class="title is-1"><%= @insurer.name %></h1>
    <div class="field">
      <%= link_to "Add New Product", new_insurer_products_path(@insurer), class: 'button is-link' %>
    </div>
    <div data-controller="filter">
      <%= form_with url: insurer_products_path(@insurer), method: :get, local: true do |form| %>
        <div class="field has-addons">
          <div class="control">
            <%= form.text_field :search, placeholder: 'Filter products...', data: {target: 'filter.source', action: 'input->filter#filter'}, class: 'input filter' %>
          </div>
          <div class="control">
            <%= form.submit 'Search', class: 'button is-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody id="product-list">
        <% @products.each do |product| %>
          <tr data-target="filter.filterable" data-filter-key='<%= "#{product.name}".downcase %>'>
            <td>
              <%= link_to product_path(product) do %>
                <%= product.name.titleize %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_insurer_product_path(@insurer, product), id: "edit-#{kebab_case(product.name)}" do %>
                <span class="icon"><i class="fas fa-edit alt"></i></span>
              <% end %>
            </td>
            <td>
              <%= link_to insurer_product_path(@insurer, product), method: :delete, id: "delete-#{kebab_case(product.name)}", data: {confirm: 'Are you sure you want to delete this product?'} do %>
                <span class="icon"><i class="fas fa-trash-alt"></i></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
